.xw-calendar {
  float: left;
  width: 100%;
  padding: 6px 12px;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .xw-calendar-content {
    height: 224px;
    overflow: hidden;
  }

  .xw-calendar-years,
  .xw-calendar-months,
  .xw-calendar-time {
    width: 100%;
    height: 100%;
    padding: 7px 0;
    text-align: center;
  }
  .xw-calendar-years > a {
    display: inline-block;
    width: 40%;
    margin: 1px 5%;
    line-height: 40px;
    text-align: center;
  }
  .xw-calendar-months > a {
    display: inline-block;
    width: 30%;
    line-height: 40px;
    text-align: center;
    margin: 8px 1.5%;
  }

  .xw-calendar-table td:hover,
  .xw-calendar-years > a:hover,
  .xw-calendar-months > a:hover {
    background-color: #eaf8fe;
  }

  .xw-calendar-table,
  .xw-calendar-months,
  .xw-calendar-years {
    .today {
      color: #20a0ff;
    }
    .current,
    .current:hover {
      background-color: #1284e7;
      color: #fff;
    }
    .lastMonth,
    .nextMonth {
      color: #ddd;
    }
  }
}

.xw-time-list-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  overflow-y: auto;
}

.xw-time-list-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条滑块 */
.xw-time-list-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.xw-time-list-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.xw-time-list-wrapper:first-child {
  border-left: 0;
}

.xw-time-picker-item {
  text-align: left;
  padding-left: 10px;
}

.xw-time-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.xw-time-item {
  width: 100%;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.xw-time-item:hover {
  background-color: #eaf8fe;
}
.xw-time-item.cur-time {
  color: #fff;
  background-color: #1284e7;
}
