.xw-datepicker-top {
  text-align: left;
  padding: 0 12px;
  line-height: 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  & > span {
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: #1284e7;
    }
    &:after {
      content: '|';
      margin: 0 10px;
      color: #48576a;
    }
  }
}
